* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    width: 100vw;
    height: 10vh;
    text-align: center;

}

main {

    margin: 0 auto;
    width: 80vw;
    height: 90vh;

}

#map {

    height: 50%;
    width: 100%;
    border-radius: 10px;

}

